In [1]:
pip install geopandas

Requirement already satisfied: geopandas in /srv/conda/envs/notebook/lib/python3.10/site-packages (1.1.1)
Requirement already satisfied: numpy>=1.24 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from geopandas) (1.26.4)
Requirement already satisfied: pyogrio>=0.7.2 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from geopandas) (0.11.1)
Requirement already satisfied: packaging in /srv/conda/envs/notebook/lib/python3.10/site-packages (from geopandas) (24.1)
Requirement already satisfied: pandas>=2.0.0 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from geopandas) (2.2.3)
Requirement already satisfied: pyproj>=3.5.0 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from geopandas) (3.7.1)
Requirement already satisfied: shapely>=2.0.0 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from geopandas) (2.0.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pandas>=2.0.0->geopandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pandas>=2.0.0->geopandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pandas>=2.0.0->geopandas) (2024.2)
Requirement already satisfied: certifi in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pyogrio>=0.7.2->geopandas) (2024.8.30)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas>=2.0.0->geopandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
import geopandas as gp

In [3]:
ifile_params = ("lowflow_parameters_clean.csv") #catchment characteristics/parameters
vf_params = pd.read_csv(ifile_params, sep=',', index_col=0)
vf_params

,stID,UTM_S_X,UTM_S_Y,UTM_G_X,UTM_G_Y,area,gradient_1085,",gradient_river",height_minimum,height_hypso_10,...,qtt_aug,qtt_sep,qtt_oct,qtt_nov,qtt_dec,qtt_djf,qtt_mam,qtt_jja,qtt_son,qtt_ann
GISID,,,,,,,,,,,,,,,,,,,,,
29,2.11.0,317820.999997,6.919394e+06,320749.800967,6.912807e+06,118.959999,14.33,15.430000,737.0,778.0,...,101.241199,61.948655,40.097098,11.010973,1.608489,2.700414,302.509517,292.518221,113.056726,710.784841
95,2.142.0,338529.999998,6.726448e+06,348095.813860,6.747173e+06,1643.020020,3.80,4.760000,170.0,270.0,...,94.248757,70.586680,65.482156,47.609539,19.529377,38.773152,276.620166,254.304265,183.678375,753.375967
158,2.265.0,294591.999997,6.874376e+06,297604.893072,6.894320e+06,620.090027,4.91,7.750000,338.0,569.0,...,94.446090,55.754340,39.064817,12.267378,2.466287,4.912376,273.678976,262.602652,107.086535,648.280583
168,2.279.0,282323.999996,6.672734e+06,271643.244338,6.688642e+06,435.209991,8.34,9.000000,105.0,180.0,...,100.944595,89.059242,90.441147,70.601822,28.109047,62.374284,343.899147,270.302597,250.102211,926.678223
177,2.291.0,126994.999935,6.895583e+06,129667.974042,6.905215e+06,262.070007,27.24,29.309999,717.0,1226.0,...,261.338736,100.517657,39.517134,6.711838,0.239045,0.350883,157.769787,1308.222887,146.746629,1613.090245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2219,307.5.0,452693.999999,7.151617e+06,443505.913795,7.151824e+06,345.619995,5.23,8.190000,310.0,327.0,...,83.201409,85.133415,63.347355,29.495795,18.307632,37.618457,372.953911,341.672979,177.976565,930.221963
2220,307.7.0,448684.999999,7.196271e+06,448270.105104,7.200208e+06,61.369999,19.16,27.120001,480.0,541.0,...,97.227029,123.204449,87.692589,27.714073,8.527037,21.113704,398.232231,620.208865,238.611111,1278.165972
2225,308.1.0,439897.999999,7.124887e+06,433579.504338,7.130803e+06,449.980011,8.85,9.420000,354.0,414.0,...,113.933579,112.036552,77.954321,32.664269,14.023126,28.833964,441.372657,517.392538,222.655142,1210.254253
2230,311.6.0,356393.999998,6.794588e+06,336423.422132,6.876973e+06,4424.850098,2.35,2.400000,353.0,645.0,...,91.688385,60.834132,45.650673,19.107595,4.706574,7.416348,279.114681,253.670079,125.592400,665.793524
2255,313.10.0,342929.999998,6.649698e+06,336462.941051,6.661325e+06,357.859985,3.12,6.680000,127.0,156.0,...,96.223605,69.440265,76.290806,64.589721,43.040422,98.503427,227.732860,250.427972,210.320792,786.985105

Creating new dataframe with Østlandet stations and matching catchment parameters from parameterfile

In [18]:
#list with Østlandet stations that matches catchment characterstics from parameter file 


vf_params = vf_params.copy()
vf_params["stID"] = vf_params["stID"].astype(str).str.strip()



ostlandet_list = [
    "12.207.0","19.96.0","73.27.0","19.82.0","19.79.0","19.104.0","16.66.0",
    "16.194.0","16.127.0","16.122.0","15.21.0","12.70.0","12.197.0","2.142.0","12.188.0",
    "12.171.0","12.13.0","11.4.0","3.22.0","2.439.0","2.303.0","2.291.0","2.279.0",
    "2.265.0","2.11.0","311.6.0","12.193.0","313.10.0"
]

#list with wanted stations: 
wanted = []

wanted += [(sid, "Østlandet")  for sid in ostlandet_list]
df_wanted = pd.DataFrame(wanted, columns=["stID", "region"])
df_wanted["stID"] = df_wanted["stID"].astype(str).str.strip()


matched = df_wanted.merge(vf_params, on="stID", how="left")


cols = ["region", "stID"] + [c for c in matched.columns if c not in ("region", "stID")]
matched = matched[cols]


matched.head() #the new dataframe with stations only for Østlandet + catchment characteristics/parameters

,region,stID,UTM_S_X,UTM_S_Y,UTM_G_X,UTM_G_Y,area,gradient_1085,",gradient_river",height_minimum,...,qtt_aug,qtt_sep,qtt_oct,qtt_nov,qtt_dec,qtt_djf,qtt_mam,qtt_jja,qtt_son,qtt_ann
0,Østlandet,12.207.0,181406.999980,6.794136e+06,184603.755945,6.800517e+06,269.880005,14.130000,22.629999,566.0,...,100.228029,66.625229,47.236533,15.234334,2.972272,6.983384,310.174368,286.283983,129.096096,732.537866
1,Østlandet,19.96.0,136290.999968,6.563180e+06,136235.347815,6.563750e+06,0.583800,42.180000,31.639999,580.0,...,133.441681,122.541672,130.500000,94.941666,36.533333,74.233334,457.774998,347.450020,347.983337,1227.441650
2,Østlandet,73.27.0,129377.999946,6.801391e+06,131694.578975,6.796548e+06,30.320000,22.680000,35.110001,1006.0,...,116.669336,85.067334,46.623335,10.474000,0.836000,1.277333,222.489338,712.753984,142.164669,1078.685313
3,Østlandet,19.82.0,127064.999963,6.554680e+06,124041.078747,6.555561e+06,8.907800,25.790001,29.660000,222.0,...,113.414990,106.500000,117.731665,99.673328,67.390002,167.946671,268.354999,285.594989,323.904993,1045.801660
4,Østlandet,19.79.0,103120.999940,6.586966e+06,102149.465597,6.588870e+06,6.300600,108.570000,105.400002,362.0,...,119.747917,112.818756,114.918747,74.118752,35.039581,79.427082,404.462509,324.170837,301.856255,1109.916748

In [19]:
infile_obs = "vf_obs_spec_2.csv" #flow data for whole observation period 
vf_obs_spec_2 = pd.read_csv(infile_obs, sep =',', parse_dates = True, index_col =0)
vf_obs_spec_2 = vf_obs_spec_2.replace(-9999, np.nan)
#vf_obs_spec_2

In [20]:
#flow data created for Østlandet: 


ostlandet_list = [
    "12.207.0","19.96.0","73.27.0","19.82.0","19.79.0","19.104.0","16.66.0",
    "16.194.0","16.127.0","16.122.0","15.21.0","12.70.0","12.197.0","2.142.0","12.188.0",
    "12.171.0","12.13.0","11.4.0","3.22.0","2.439.0","2.303.0","2.291.0","2.279.0",
    "2.265.0","2.11.0","311.6.0","12.193.0","313.10.0"
]

selected_stations = ostlandet_list

#Filtering the dataframe so it only include the Østlandet stations 
vf_selected_ostlandet = vf_obs_spec_2[selected_stations]

#NEw dataframe with only Østlandet stations 
vf_selected_ostlandet.head()

,12.207.0,19.96.0,73.27.0,19.82.0,19.79.0,19.104.0,16.66.0,16.194.0,16.127.0,16.122.0,...,3.22.0,2.439.0,2.303.0,2.291.0,2.279.0,2.265.0,2.11.0,311.6.0,12.193.0,313.10.0
Dato,,,,,,,,,,,,,,,,,,,,,
1900-03-20 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1900-03-21 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1900-03-22 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1900-03-23 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1900-03-24 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
startdate = pd.to_datetime("1984-05-15")#.date() #for the new dataframe  Østlandet named vf_selected_ostlandet
enddate = pd.to_datetime("2024-09-15")#.date()
q_prd_ostlandet= vf_selected_ostlandet.loc[startdate:enddate]
q_prd_ostlandet

,12.207.0,19.96.0,73.27.0,19.82.0,19.79.0,19.104.0,16.66.0,16.194.0,16.127.0,16.122.0,...,3.22.0,2.439.0,2.303.0,2.291.0,2.279.0,2.265.0,2.11.0,311.6.0,12.193.0,313.10.0
Dato,,,,,,,,,,,,,,,,,,,,,
1984-05-15 12:00:00,41.438954,14.537512,NaN,8.580346,91.670793,128.504607,112.589920,40.538880,70.429407,107.475285,...,9.355437,53.031326,31.287150,11.545667,16.682602,40.826381,33.090266,24.274383,6.985603,10.172342
1984-05-16 12:00:00,60.460337,42.415209,NaN,33.979884,155.727707,237.287806,140.186713,78.682646,112.918276,213.059038,...,10.164294,107.606045,63.444968,19.555626,27.985725,40.826381,55.633129,25.896341,12.446236,11.771352
1984-05-17 12:00:00,89.288671,47.882835,NaN,33.979884,155.727707,206.673241,149.871904,132.360321,146.902244,203.679318,...,13.613778,122.736272,84.388543,30.443900,36.576828,40.125232,115.735685,30.386596,22.046100,18.618181
1984-05-18 12:00:00,95.966217,66.730042,NaN,62.194932,173.922482,264.174807,249.205489,207.272939,334.090852,497.851211,...,13.164556,96.312665,107.343133,37.876433,44.822151,40.125232,130.139779,30.914606,39.695090,18.618181
1984-05-19 12:00:00,130.091946,66.730042,NaN,56.658885,116.824746,174.019444,121.512058,135.644680,334.090852,194.501614,...,13.613778,83.935667,117.120434,52.016777,48.870032,40.826381,128.027010,31.717755,49.352424,16.454391
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-09-10 12:00:00,NaN,NaN,NaN,45.076788,NaN,NaN,57.159846,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,59.939795,NaN,NaN,NaN
2024-09-11 12:00:00,NaN,NaN,NaN,51.771820,NaN,NaN,47.207480,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,91.789644,NaN,NaN,NaN
2024-09-12 12:00:00,NaN,NaN,NaN,26.810886,NaN,NaN,35.791907,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,82.576514,NaN,NaN,NaN
2024-09-13 12:00:00,NaN,NaN,NaN,17.718629,NaN,NaN,28.414198,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,68.244864,NaN,NaN,NaN
2024-09-14 12:00:00,NaN,NaN,NaN,13.405780,NaN,NaN,24.269160,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,56.259979,NaN,NaN,NaN

In [22]:
summer = [5,6,7,8,9] #AM7 for summer season for Østlandet


AM7 = q_prd_ostlandet.loc[q_prd_ostlandet.index.month.isin(summer)].rolling(7).mean().resample("YE").min()#.mean() #gjennomsnittlige minste årlige ukesverdi AM7 tabellen 
AM7

,12.207.0,19.96.0,73.27.0,19.82.0,19.79.0,19.104.0,16.66.0,16.194.0,16.127.0,16.122.0,...,3.22.0,2.439.0,2.303.0,2.291.0,2.279.0,2.265.0,2.11.0,311.6.0,12.193.0,313.10.0
Dato,,,,,,,,,,,,,,,,,,,,,
1984-12-31,2.761249,0.000000,NaN,0.564898,0.440797,0.413506,2.494373,0.550125,4.548049,1.202494,...,1.717835,4.919005,7.992984,18.600589,2.911982,9.678396,8.961335,8.782803,1.212016,1.655157
1985-12-31,2.488827,0.124064,NaN,1.266466,0.993919,3.646687,3.985649,4.591460,3.085696,5.171876,...,3.405659,3.668937,1.949392,3.177044,8.636870,5.952224,2.607229,6.600147,1.672346,8.142687
1986-12-31,1.462201,0.000000,NaN,0.721166,0.251881,0.261410,0.545954,0.287712,2.501627,0.405242,...,0.779635,NaN,10.765409,12.066669,1.556757,9.536346,7.907491,10.749308,0.117551,1.387276
1987-12-31,2.463468,1.358342,NaN,2.087240,0.487051,0.921346,2.552650,1.768405,6.161971,1.818254,...,1.933902,11.540885,16.298923,7.977904,3.740750,14.164559,6.020808,17.066920,0.864061,3.637780
1988-12-31,5.421017,0.000000,NaN,0.984675,0.888509,2.181369,3.382617,2.208521,4.088576,5.060013,...,1.564907,9.592920,4.182653,3.782145,2.906779,NaN,4.770102,16.216317,1.454504,1.588473
1989-12-31,1.846924,0.000000,NaN,0.082175,0.153795,0.321343,1.218931,0.379619,6.040399,1.271015,...,0.494138,5.874582,10.391385,7.478394,1.788413,NaN,7.434769,10.616908,0.088267,0.873757
1990-12-31,2.302312,0.000000,NaN,0.426721,0.314619,0.382535,2.388331,0.925145,3.439176,0.841966,...,0.602795,3.509594,9.937098,17.020191,1.847157,NaN,15.844170,13.137508,0.431850,1.224542
1991-12-31,0.620385,0.000000,7.870081,0.115292,0.195877,0.295816,0.486870,0.166995,2.137531,0.534776,...,0.633532,4.427497,4.616842,4.607570,4.585757,7.456019,7.517661,8.161013,0.196117,1.077616
1992-12-31,1.384594,0.000000,2.900613,0.137055,0.153795,0.290919,0.486870,0.048950,5.262809,0.778785,...,0.628189,2.085134,10.683895,3.826050,1.413348,NaN,5.150431,9.927839,0.002658,0.511910
1993-12-31,2.667701,0.000000,8.350603,0.229991,1.149324,1.520585,1.766914,0.376389,5.330880,2.065035,...,0.385777,2.873664,10.205041,24.986087,1.102932,NaN,17.154561,15.657039,0.219741,1.603023
1994-12-31,1.932293,0.000000,1.173360,1.117335,0.368854,0.479165,1.520829,0.228493,7.582133,1.256153,...,0.111819,3.480816,6.500660,3.871423,1.944751,7.378964,6.074265,8.912903,0.052816,0.716385
1995-12-31,0.496151,0.000000,6.284070,0.082175,0.106158,0.263737,0.310709,0.178231,1.897863,0.145449,...,0.682336,NaN,7.673407,5.800693,1.850978,3.348709,2.749912,7.027468,0.173571,2.429257
1996-12-31,2.389245,0.000000,4.692796,0.180740,0.241179,0.334065,2.211843,0.721589,NaN,1.912544,...,0.691193,NaN,8.825914,4.523268,2.513296,3.920464,3.045066,6.846498,0.245831,1.111352
1997-12-31,2.827678,0.000000,6.050071,0.697575,0.584684,0.546274,2.779367,0.653419,NaN,1.326183,...,0.350298,NaN,5.776543,2.834386,1.997687,4.255221,4.544399,8.166055,0.414081,2.004433
1998-12-31,10.762924,0.112318,10.018324,1.479073,2.465139,4.303149,5.501156,2.648799,NaN,6.205608,...,1.520153,12.301582,14.972647,12.839884,7.484007,12.522943,13.458825,15.992416,0.979187,3.506814
1999-12-31,2.167249,0.000000,4.661921,0.647009,0.264011,0.661010,2.445147,0.864826,5.597710,2.020815,...,0.926972,6.118772,8.093893,9.099146,1.813476,7.519780,6.162069,7.502540,0.217484,1.336884
2000-12-31,5.676141,0.118191,13.587411,1.940146,1.849710,4.630551,7.872693,2.816415,12.806464,9.325976,...,1.492952,9.427850,11.829553,49.189865,6.948814,7.509096,9.289186,11.233342,0.849102,2.507023
2001-12-31,8.053935,2.292615,1.908655,2.353587,0.792396,2.632747,6.395027,4.910118,4.689524,6.766119,...,1.523953,5.170185,6.995891,3.825730,4.505160,7.582095,9.398148,13.068998,1.058947,2.857389
2002-12-31,1.588350,0.591935,6.140530,0.872574,0.238911,0.806093,2.583141,2.598255,5.616080,1.262693,...,1.029248,3.754088,10.165036,8.747909,1.392128,4.223513,5.432534,7.647035,0.688522,1.349914
2003-12-31,4.310148,0.000000,4.806139,0.929314,0.711996,1.114790,6.280589,1.329551,5.380323,4.646693,...,1.056006,3.678794,9.342377,1.314588,2.699119,3.769607,6.524518,8.427947,0.374040,0.697308
2004-12-31,5.123885,0.000000,11.079646,0.798754,0.475193,1.911757,4.867023,1.218621,10.169172,4.549654,...,0.550559,2.689484,13.237838,25.398156,2.485920,5.167440,6.444482,8.784967,1.037890,2.453228
2005-12-31,4.130580,0.377331,5.901305,1.622607,0.490566,2.440433,4.806019,1.829530,9.691567,3.529703,...,0.856671,2.880488,11.923579,7.208907,2.678532,6.449427,9.272138,11.804260,0.455441,1.394145
2006-12-31,2.815737,0.000000,7.546028,0.303875,0.133117,0.424415,1.165082,0.221168,5.414255,0.946551,...,0.523672,2.952654,9.147176,12.441763,2.314400,7.718587,4.605613,9.682590,0.282272,1.740658
2007-12-31,3.546191,0.105711,20.608853,0.952135,0.673655,1.867783,4.412759,1.485888,6.900364,3.840651,...,1.383212,6.313735,14.783356,16.286104,4.213156,7.067544,9.095917,9.353374,0.900662,2.323641
2008-12-31,6.606573,0.000000,10.558886,0.489667,0.746573,2.073003,6.553566,1.200730,12.106051,6.163178,...,1.111398,4.653616,7.840295,14.499022,4.018861,6.252497,7.445275,9.125547,0.622629,1.254744
2009-12-31,4.226557,0.148779,12.029749,1.051679,0.471905,1.893217,3.055616,1.310944,8.748535,2.201037,...,0.815531,4.838567,13.710225,15.607457,2.427086,10.229032,12.831109,13.732325,0.509380,0.982948
2010-12-31,5.756027,0.000000,3.268573,0.525895,0.559879,1.529611,3.757579,0.731856,4.933192,3.723784,...,1.414007,9.024104,4.470638,4.498083,4.362939,6.935445,10.824755,12.218248,3.836673,4.024792
2011-12-31,20.067472,0.062644,29.559532,2.161011,5.681681,9.380965,14.101199,3.264433,24.024134,18.216705,...,3.281688,20.964752,21.515740,18.690299,6.249284,18.696470,22.894558,20.753921,2.172631,3.774707
2012-12-31,9.208446,0.012235,4.831846,2.697540,2.784089,5.284462,8.003097,3.325305,10.787674,6.985260,...,2.612863,14.457513,9.895383,5.944573,5.097070,13.635488,16.927057,18.204941,2.029095,4.277527
2013-12-31,2.958018,0.000000,2.305103,0.817149,0.550787,0.809939,2.249182,1.533973,3.627605,1.829869,...,1.189519,6.768616,2.421634,2.019361,2.556921,5.105537,7.568757,10.496792,0.864993,1.321453
2014-12-31,4.479058,0.682719,8.273784,0.719546,0.673904,2.039771,2.602813,0.909448,7.661200,2.259423,...,0.658327,6.231632,7.561082,6.372420,2.415820,5.185437,8.109949,9.760205,0.449091,1.454711
2015-12-31,5.573003,0.061910,3.007911,1.581535,0.708300,2.847390,5.936052,1.803027,7.206904,7.165783,...,1.951334,9.269252,5.696241,4.949457,5.213207,5.676144,8.548710,10.753213,1.230423,2.476358
2016-12-31,8.527068,0.022757,2.570717,2.419292,1.775522,5.193176,6.027154,3.377658,3.868915,9.941417,...,1.188875,10.074208,3.955891,4.048776,4.471494,8.162931,9.550183,13.795667,1.274893,2.276967
2017-12-31,5.126442,0.000000,4.417914,1.068823,0.986777,1.982346,3.019237,1.272738,7.051862,3.168596,...,0.948029,7.763565,10.786297,7.192460,2.500466,8.254332,8.807245,11.768568,0.927194,1.255882
2018-12-31,0.549173,0.000000,10.131139,0.114057,0.020270,0.171402,0.287176,0.039777,1.691579,0.182617,...,0.296778,2.597813,12.969895,11.171145,1.762515,3.051967,4.204095,6.904071,0.110511,0.521988
2019-12-31,3.806383,0.039152,16.708514,1.190033,1.463988,4.497011,3.146717,4.094242,6.118453,2.618084,...,1.361099,6.774282,16.251666,15.918275,3.518362,5.058514,5.102044,10.060851,0.855937,1.485470
2020-12-31,4.242894,1.364949,3.009598,1.273715,1.014575,2.291130,3.901309,1.295722,4.385063,4.481245,...,1.187003,8.522515,5.861762,3.131944,3.066390,5.863667,7.140111,8.208819,0.394365,0.917687
2021-12-31,1.768953,0.000000,2.276173,0.888996,0.233538,0.703458,0.984318,0.898307,3.314356,1.170476,...,0.578253,4.174724,2.803421,2.377683,3.188644,3.212465,4.047101,8.579501,0.740487,1.082255
2022-12-31,2.593777,0.000000,2.795986,0.167526,0.214809,0.579861,1.901025,0.309601,5.365805,1.605930,...,0.791988,9.747432,8.270686,3.324816,2.645784,6.419317,6.915046,9.885862,0.280587,0.944987
2023-12-31,10.055589,0.000000,2.918352,0.723267,1.883403,5.718476,5.287590,2.499751,5.103085,8.341061,...,0.603557,9.626779,3.229854,2.621565,2.500057,5.648004,6.091079,11.919215,0.997358,1.256386
2024-12-31,NaN,NaN,NaN,2.098498,NaN,NaN,10.532671,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10.498364,NaN,NaN,NaN

In [23]:
#log transformation of AM7 
AM7_log = np.log(AM7)          
AM7_log_df = pd.DataFrame

/srv/conda/envs/notebook/lib/python3.10/site-packages/pandas/core/internals/blocks.py:393: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)

OLS regression with VIF

In [24]:

import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

#Catchment  characteristics/parameters for Østlandet
params = vf_params.copy()
params["stID"] = params["stID"].astype(str).str.strip()

params_ost = params[params["stID"].isin(ostlandet_list)].copy()
params_ost["region"] = "Østlandet"

#merging the  parameters and log AM7
df_ost = params_ost.merge(am7_ost_df, on="stID", how="inner")

#Dataframe for VIF + OLS
exclude = {"stID", "region", "log_AM7"}
num_cols = df_ost.select_dtypes(include=["number"]).columns
predictor_cols_ost = [c for c in num_cols if c not in exclude]

#droping rows with nan
df_ols_ost = df_ost.dropna(subset=predictor_cols_ost + ["log_AM7"]).copy()

#computing VIF  for the predictors with 10 as threshold:
def compute_vif(df, predictors):
    X = sm.add_constant(df[predictors].astype(float))
    vals = []
    for i, var in enumerate(predictors, start=1):
        vals.append((var, variance_inflation_factor(X.values, i)))
    return pd.DataFrame(vals, columns=["variable", "VIF"]).sort_values("VIF", ascending=False)

def vif_filter(df, predictors, thresh=10.0):
    vars_left = predictors.copy()
    while True:
        vif_df = compute_vif(df, vars_left)
        max_vif = vif_df["VIF"].max()
        worst_var = vif_df.loc[vif_df["VIF"].idxmax(), "variable"]
        print(f"Max VIF = {max_vif:.2f} ({worst_var})")
        if max_vif > thresh:
            print(f" -> dropping {worst_var}")
            vars_left.remove(worst_var)
        else:
            print("All VIFs below threshold.")
            break
    final_vif = compute_vif(df, vars_left)
    return vars_left, final_vif

#The VIF filtering
predictors_vif_ost, vif_table_ost = vif_filter(df_ols_ost, predictor_cols_ost, thresh=10.0)

print("\nPredictors after VIF filtering (Østlandet):", predictors_vif_ost)
print("\nFinal VIF table (Østlandet):")
print(vif_table_ost)

#The OLS regression for Østlandet afte the VIF filtering with only VIF less than 10
X_final_ost = sm.add_constant(df_ols_ost[predictors_vif_ost].astype(float))
y_final_ost = df_ols_ost["log_AM7"]

ols_ost = sm.OLS(y_final_ost, X_final_ost).fit()
print("\nOLS summary for Østlandet (after VIF filtering):")
print(ols_ost.summary())

/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

Max VIF = inf (UTM_S_X)
 -> dropping UTM_S_X
Max VIF = inf (UTM_S_Y)
 -> dropping UTM_S_Y
Max VIF = inf (UTM_G_X)
 -> dropping UTM_G_X

/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

Max VIF = inf (UTM_G_Y)
 -> dropping UTM_G_Y
Max VIF = inf (area)
 -> dropping area
Max VIF = inf (gradient_1085)
 -> dropping gradient_1085

/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

Max VIF = inf (,gradient_river)
 -> dropping ,gradient_river
Max VIF = inf (height_minimum)
 -> dropping height_minimum
Max VIF = inf (height_hypso_10)
 -> dropping height_hypso_10

/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

Max VIF = inf (height_hypso_20)
 -> dropping height_hypso_20
Max VIF = inf (height_hypso_30)
 -> dropping height_hypso_30
Max VIF = inf (height_hypso_40)
 -> dropping height_hypso_40

/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

Max VIF = inf (height_hypso_50)
 -> dropping height_hypso_50
Max VIF = inf (height_hypso_60)
 -> dropping height_hypso_60
Max VIF = inf (height_hypso_70)
 -> dropping height_hypso_70

/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

Max VIF = inf (height_hypso_80)
 -> dropping height_hypso_80
Max VIF = inf (height_hypso_90)
 -> dropping height_hypso_90
Max VIF = inf (height_maximum)
 -> dropping height_maximum

/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

Max VIF = inf (length_km_river)
 -> dropping length_km_river
Max VIF = inf (perc_agricul)
 -> dropping perc_agricul
Max VIF = inf (perc_bog)
 -> dropping perc_bog

/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

Max VIF = inf (perc_eff_lake)
 -> dropping perc_eff_lake
Max VIF = inf (perc_forest)
 -> dropping perc_forest
Max VIF = inf (perc_glacier)
 -> dropping perc_glacier
Max VIF = inf (perc_lake)
 -> dropping perc_lake

/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

Max VIF = inf (perc_urban)
 -> dropping perc_urban
Max VIF = inf (area_unclassified_perc)
 -> dropping area_unclassified_perc
Max VIF = inf (perimeter_m)
 -> dropping perimeter_m
Max VIF = inf (total_river_length_km)
 -> dropping total_river_length_km

/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

Max VIF = inf (total_river_length_without_lake)
 -> dropping total_river_length_without_lake
Max VIF = inf (drainage_density)
 -> dropping drainage_density
Max VIF = inf (drainage_density_without_lake)
 -> dropping drainage_density_without_lake
Max VIF = inf (areaperperimeter_km)
 -> dropping areaperperimeter_km

/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

Max VIF = inf (infp)
 -> dropping infp
Max VIF = inf (t_jan)
 -> dropping t_jan
Max VIF = inf (t_feb)
 -> dropping t_feb
Max VIF = inf (t_mar)
 -> dropping t_mar

/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

Max VIF = inf (t_apr)
 -> dropping t_apr
Max VIF = inf (t_may)
 -> dropping t_may
Max VIF = inf (t_jun)
 -> dropping t_jun
Max VIF = inf (t_jul)
 -> dropping t_jul
Max VIF = inf (t_aug)
 -> dropping t_aug
Max VIF = inf (t_sep)
 -> dropping t_sep
Max VIF = inf (t_oct)
 -> dropping t_oct
Max VIF = inf (t_nov)
 -> dropping t_nov
Max VIF = inf (t_dec)
 -> dropping t_dec

/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

Max VIF = inf (t_djf)
 -> dropping t_djf
Max VIF = inf (t_mam)
 -> dropping t_mam
Max VIF = inf (t_jja)
 -> dropping t_jja
Max VIF = inf (t_son)
 -> dropping t_son
Max VIF = inf (t_ann)
 -> dropping t_ann
Max VIF = inf (p_jan)
 -> dropping p_jan

/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

Max VIF = inf (p_feb)
 -> dropping p_feb
Max VIF = inf (p_mar)
 -> dropping p_mar
Max VIF = inf (p_apr)
 -> dropping p_apr
Max VIF = inf (p_may)
 -> dropping p_may
Max VIF = inf (p_jun)
 -> dropping p_jun
Max VIF = inf (p_jul)
 -> dropping p_jul

/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

Max VIF = inf (p_aug)
 -> dropping p_aug
Max VIF = inf (p_sep)
 -> dropping p_sep
Max VIF = inf (p_oct)
 -> dropping p_oct
Max VIF = inf (p_nov)
 -> dropping p_nov
Max VIF = inf (p_dec)
 -> dropping p_dec
Max VIF = inf (p_djf)
 -> dropping p_djf
Max VIF = inf (p_mam)
 -> dropping p_mam

/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

Max VIF = inf (p_jja)
 -> dropping p_jja
Max VIF = inf (p_son)
 -> dropping p_son
Max VIF = inf (p_ann)
 -> dropping p_ann
Max VIF = inf (q_jan)
 -> dropping q_jan
Max VIF = inf (q_feb)
 -> dropping q_feb
Max VIF = inf (qtt_feb)
 -> dropping qtt_feb
Max VIF = inf (qtt_jan)
 -> dropping qtt_jan
Max VIF = inf (qtt_mar)
 -> dropping qtt_mar
Max VIF = inf (qtt_son)
 -> dropping qtt_son
Max VIF = inf (qtt_jja)
 -> dropping qtt_jja

/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

Max VIF = 692861481133922.50 (q_jja)
 -> dropping q_jja
Max VIF = 191642537334914.72 (qtt_ann)
 -> dropping qtt_ann
Max VIF = 42891425022576.16 (q_son)
 -> dropping q_son
Max VIF = 12025633183899.86 (q_mam)
 -> dropping q_mam
Max VIF = 46198.72 (q_dec)
 -> dropping q_dec
Max VIF = 21674.45 (q_mar)
 -> dropping q_mar
Max VIF = 9200.50 (q_aug)
 -> dropping q_aug
Max VIF = 3441.22 (q_nov)
 -> dropping q_nov
Max VIF = 2130.71 (qtt_mam)
 -> dropping qtt_mam
Max VIF = 1403.43 (q_oct)
 -> dropping q_oct
Max VIF = 1354.37 (q_jul)
 -> dropping q_jul
Max VIF = 426.74 (qtt_dec)
 -> dropping qtt_dec
Max VIF = 382.88 (q_mai)
 -> dropping q_mai
Max VIF = 263.77 (q_sep)
 -> dropping q_sep
Max VIF = 170.70 (qtt_nov)
 -> dropping qtt_nov
Max VIF = 98.53 (q_djf)
 -> dropping q_djf
Max VIF = 74.56 (q_jun)
 -> dropping q_jun
Max VIF = 67.84 (qtt_oct)
 -> dropping qtt_oct
Max VIF = 49.78 (qtt_jul)
 -> dropping qtt_jul
Max VIF = 18.06 (q_ann)
 -> dropping q_ann
Max VIF = 11.28 (qtt_jun)
 -> dropping qtt_jun
Max VIF = 5.81 (qtt_sep)
All VIFs below threshold.

Predictors after VIF filtering (Østlandet): ['q_apr', 'qtt_apr', 'qtt_may', 'qtt_aug', 'qtt_sep', 'qtt_djf']

Final VIF table (Østlandet):
  variable       VIF
4  qtt_sep  5.814943
5  qtt_djf  4.634865
2  qtt_may  3.865502
3  qtt_aug  3.122643
1  qtt_apr  2.400649
0    q_apr  1.572994

OLS summary for Østlandet (after VIF filtering):
                            OLS Regression Results
==============================================================================
Dep. Variable:                log_AM7   R-squared:                       0.805
Model:                            OLS   Adj. R-squared:                  0.750
Method:                 Least Squares   F-statistic:                     14.49
Date:                Wed, 19 Nov 2025   Prob (F-statistic):           1.66e-06
Time:                        10:17:03   Log-Likelihood:                -16.640
No. Observations:                  28   AIC:                             47.28
Df Residuals:                      21   BIC:                             56.61
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          2.4190      0.608      3.981      0.001       1.155       3.683
q_apr         -0.0022      0.002     -0.999      0.329      -0.007       0.002
qtt_apr       -0.0068      0.003     -2.561      0.018      -0.012      -0.001
qtt_may        0.0028      0.003      1.092      0.287      -0.003       0.008
qtt_aug        0.0042      0.005      0.845      0.408      -0.006       0.015
qtt_sep       -0.0142      0.011     -1.277      0.216      -0.037       0.009
qtt_djf       -0.0064      0.005     -1.367      0.186      -0.016       0.003
==============================================================================
Omnibus:                        5.808   Durbin-Watson:                   2.621
Prob(Omnibus):                  0.055   Jarque-Bera (JB):                4.848
Skew:                          -0.482   Prob(JB):                       0.0886
Kurtosis:                       4.796   Cond. No.                     1.72e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.72e+03. This might indicate that there are
strong multicollinearity or other numerical problems.