In [1]:
pip install geopandas

Collecting geopandas
  Using cached geopandas-1.1.1-py3-none-any.whl.metadata (2.3 kB)
Requirement already satisfied: numpy>=1.24 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from geopandas) (1.26.4)
Collecting pyogrio>=0.7.2 (from geopandas)
  Using cached pyogrio-0.11.1-cp310-cp310-manylinux_2_28_x86_64.whl.metadata (5.3 kB)
Requirement already satisfied: packaging in /srv/conda/envs/notebook/lib/python3.10/site-packages (from geopandas) (24.1)
Requirement already satisfied: pandas>=2.0.0 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from geopandas) (2.2.3)
Collecting pyproj>=3.5.0 (from geopandas)
  Using cached pyproj-3.7.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (31 kB)
Requirement already satisfied: shapely>=2.0.0 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from geopandas) (2.0.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pandas>=2.0.0->geopandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pandas>=2.0.0->geopandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pandas>=2.0.0->geopandas) (2024.2)
Requirement already satisfied: certifi in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pyogrio>=0.7.2->geopandas) (2024.8.30)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas>=2.0.0->geopandas) (1.16.0)
Using cached geopandas-1.1.1-py3-none-any.whl (338 kB)
Using cached pyogrio-0.11.1-cp310-cp310-manylinux_2_28_x86_64.whl (27.5 MB)
Using cached pyproj-3.7.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (9.3 MB)
Installing collected packages: pyproj, pyogrio, geopandas
  Attempting uninstall: pyproj
    Found existing installation: pyproj 3.4.1
    Uninstalling pyproj-3.4.1:
      Successfully uninstalled pyproj-3.4.1
Successfully installed geopandas-1.1.1 pyogrio-0.11.1 pyproj-3.7.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
import geopandas as gp

In [26]:
ifile_params = ("lowflow_parameters_clean.csv") #Catchment parameters
vf_params = pd.read_csv(ifile_params, sep=',', index_col=0)
vf_params

,stID,UTM_S_X,UTM_S_Y,UTM_G_X,UTM_G_Y,area,gradient_1085,",gradient_river",height_minimum,height_hypso_10,...,qtt_aug,qtt_sep,qtt_oct,qtt_nov,qtt_dec,qtt_djf,qtt_mam,qtt_jja,qtt_son,qtt_ann
GISID,,,,,,,,,,,,,,,,,,,,,
29,2.11.0,317820.999997,6.919394e+06,320749.800967,6.912807e+06,118.959999,14.33,15.430000,737.0,778.0,...,101.241199,61.948655,40.097098,11.010973,1.608489,2.700414,302.509517,292.518221,113.056726,710.784841
95,2.142.0,338529.999998,6.726448e+06,348095.813860,6.747173e+06,1643.020020,3.80,4.760000,170.0,270.0,...,94.248757,70.586680,65.482156,47.609539,19.529377,38.773152,276.620166,254.304265,183.678375,753.375967
158,2.265.0,294591.999997,6.874376e+06,297604.893072,6.894320e+06,620.090027,4.91,7.750000,338.0,569.0,...,94.446090,55.754340,39.064817,12.267378,2.466287,4.912376,273.678976,262.602652,107.086535,648.280583
168,2.279.0,282323.999996,6.672734e+06,271643.244338,6.688642e+06,435.209991,8.34,9.000000,105.0,180.0,...,100.944595,89.059242,90.441147,70.601822,28.109047,62.374284,343.899147,270.302597,250.102211,926.678223
177,2.291.0,126994.999935,6.895583e+06,129667.974042,6.905215e+06,262.070007,27.24,29.309999,717.0,1226.0,...,261.338736,100.517657,39.517134,6.711838,0.239045,0.350883,157.769787,1308.222887,146.746629,1613.090245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2219,307.5.0,452693.999999,7.151617e+06,443505.913795,7.151824e+06,345.619995,5.23,8.190000,310.0,327.0,...,83.201409,85.133415,63.347355,29.495795,18.307632,37.618457,372.953911,341.672979,177.976565,930.221963
2220,307.7.0,448684.999999,7.196271e+06,448270.105104,7.200208e+06,61.369999,19.16,27.120001,480.0,541.0,...,97.227029,123.204449,87.692589,27.714073,8.527037,21.113704,398.232231,620.208865,238.611111,1278.165972
2225,308.1.0,439897.999999,7.124887e+06,433579.504338,7.130803e+06,449.980011,8.85,9.420000,354.0,414.0,...,113.933579,112.036552,77.954321,32.664269,14.023126,28.833964,441.372657,517.392538,222.655142,1210.254253
2230,311.6.0,356393.999998,6.794588e+06,336423.422132,6.876973e+06,4424.850098,2.35,2.400000,353.0,645.0,...,91.688385,60.834132,45.650673,19.107595,4.706574,7.416348,279.114681,253.670079,125.592400,665.793524
2255,313.10.0,342929.999998,6.649698e+06,336462.941051,6.661325e+06,357.859985,3.12,6.680000,127.0,156.0,...,96.223605,69.440265,76.290806,64.589721,43.040422,98.503427,227.732860,250.427972,210.320792,786.985105

In [27]:
infile_obs = "vf_obs_spec_2.csv" #flow data for whole period 
vf_obs_spec_2 = pd.read_csv(infile_obs, sep =',', parse_dates = True, index_col =0)
vf_obs_spec_2 = vf_obs_spec_2.replace(-9999, np.nan)
#vf_obs_spec_2

In [28]:
#flow data created for Vestlandet
vestlandet_list = ["83.2.0","84.11.0","84.20.0","85.4.0","88.4.0","86.12.0","88.30.0",
    "97.1.0","98.4.0","101.1.0","109.21.0","82.4.0","87.10.0","81.1.0","62.18.0",
    "27.15.0","35.16.0","35.9.0","38.1.0","42.2.0","48.5.0","55.4.0","50.1.0",
    "62.14.0","62.15.0","80.4.0","62.5.0","73.21.0","76.5.0","78.8.0","62.10.0"
]



selected_stations = vestlandet_list


vf_selected_vestlandet = vf_obs_spec_2[selected_stations]


vf_selected_vestlandet.head()

,83.2.0,84.11.0,84.20.0,85.4.0,88.4.0,86.12.0,88.30.0,97.1.0,98.4.0,101.1.0,...,55.4.0,50.1.0,62.14.0,62.15.0,80.4.0,62.5.0,73.21.0,76.5.0,78.8.0,62.10.0
Dato,,,,,,,,,,,,,,,,,,,,,
1900-03-20 12:00:00,NaN,NaN,NaN,NaN,6.983511,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.559648,NaN,NaN,NaN,NaN
1900-03-21 12:00:00,NaN,NaN,NaN,NaN,6.897139,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.483366,NaN,NaN,NaN,NaN
1900-03-22 12:00:00,NaN,NaN,NaN,NaN,6.769414,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.483366,NaN,NaN,NaN,NaN
1900-03-23 12:00:00,NaN,NaN,NaN,NaN,6.684264,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.409476,NaN,NaN,NaN,NaN
1900-03-24 12:00:00,NaN,NaN,NaN,NaN,6.556539,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.409476,NaN,NaN,NaN,NaN

In [29]:
startdate = pd.to_datetime("1984-05-15")#.date() #for the new dataframe Vestlandet named vf_selected_vestlandet
enddate = pd.to_datetime("2024-09-15")#.date()
q_prd_vestlandet= vf_selected_vestlandet.loc[startdate:enddate]
q_prd_vestlandet

,83.2.0,84.11.0,84.20.0,85.4.0,88.4.0,86.12.0,88.30.0,97.1.0,98.4.0,101.1.0,...,55.4.0,50.1.0,62.14.0,62.15.0,80.4.0,62.5.0,73.21.0,76.5.0,78.8.0,62.10.0
Dato,,,,,,,,,,,,,,,,,,,,,
1984-05-15 12:00:00,54.813663,90.075813,64.960168,80.062290,23.937389,50.308115,26.693202,89.366252,62.375119,84.863218,...,25.522699,42.540150,40.090348,92.538006,152.657874,78.004831,NaN,28.966641,87.581910,79.106485
1984-05-16 12:00:00,60.423789,211.897518,97.011187,130.334992,26.793911,77.107481,28.495865,118.735953,97.053049,84.863218,...,34.199082,45.123104,73.852460,183.923294,305.090839,108.251241,NaN,30.117307,112.440858,129.238301
1984-05-17 12:00:00,80.465457,211.897518,156.033541,206.836642,31.858736,142.245140,36.537557,170.632897,148.581771,81.152318,...,50.611080,75.261395,138.077303,211.721858,322.773871,155.582923,NaN,28.966641,122.931590,177.074498
1984-05-18 12:00:00,143.887516,251.081478,225.952144,285.581108,47.994039,167.521303,38.765295,196.721745,181.597984,82.995741,...,67.766859,133.014765,217.875009,289.661572,360.269055,204.035326,NaN,31.295374,167.369628,256.695030
1984-05-19 12:00:00,167.763213,261.572172,260.766706,319.869045,55.760885,201.117753,71.397184,183.444676,193.536037,77.537610,...,70.907227,142.297667,234.651334,257.211208,288.096375,250.304994,NaN,50.792326,134.098026,326.518884
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-09-10 12:00:00,NaN,NaN,89.574030,329.955278,320.230967,194.896451,382.932547,169.977097,NaN,NaN,...,179.527230,NaN,217.660317,157.376767,NaN,109.971998,NaN,NaN,NaN,91.659506
2024-09-11 12:00:00,NaN,NaN,85.543449,177.381391,280.267369,259.388041,303.496725,89.591608,NaN,NaN,...,385.084846,NaN,180.505492,181.733867,NaN,125.366006,NaN,NaN,NaN,124.897819
2024-09-12 12:00:00,NaN,NaN,232.997485,592.807712,230.152060,430.055666,234.599437,108.010530,NaN,NaN,...,661.683488,NaN,232.733561,227.944325,NaN,203.516305,NaN,NaN,NaN,233.446200
2024-09-13 12:00:00,NaN,NaN,229.335286,349.947346,184.917690,151.377009,178.005843,109.222512,NaN,NaN,...,249.308963,NaN,147.859410,113.457635,NaN,173.481519,NaN,NaN,NaN,153.704621
2024-09-14 12:00:00,NaN,NaN,155.643893,182.060621,145.512246,100.646324,133.033194,62.236887,NaN,NaN,...,114.003813,NaN,105.420973,70.477280,NaN,103.419406,NaN,NaN,NaN,87.202447

In [30]:
summer = [5,6,7,8,9] #AM7 for summer season for Vestlandet


AM7 = q_prd_vestlandet.loc[q_prd_vestlandet.index.month.isin(summer)].rolling(7).mean().resample("YE").min()#.mean() #gjennomsnittlige minste årlige ukesverdi AM7 tabellen 
AM7

,83.2.0,84.11.0,84.20.0,85.4.0,88.4.0,86.12.0,88.30.0,97.1.0,98.4.0,101.1.0,...,55.4.0,50.1.0,62.14.0,62.15.0,80.4.0,62.5.0,73.21.0,76.5.0,78.8.0,62.10.0
Dato,,,,,,,,,,,,,,,,,,,,,
1984-12-31,25.308629,5.877110,8.272300,15.916070,27.664465,30.065095,37.074337,22.255743,13.437157,8.371439,...,5.509052,25.823914,22.466562,16.097087,5.563039,15.823186,NaN,30.747165,54.162380,9.370949
1985-12-31,20.778790,8.039496,9.652030,19.535051,10.758426,22.773554,11.905688,23.100182,13.675093,10.856384,...,4.720523,5.735464,7.612470,14.219869,10.603575,17.363121,NaN,11.670940,45.728234,13.892937
1986-12-31,29.593638,8.519745,9.378757,21.436828,35.240496,49.270487,29.498736,37.383313,21.423317,2.598808,...,6.792687,22.066768,24.033516,13.106574,7.847722,15.539369,NaN,24.592361,47.793575,13.422468
1987-12-31,48.662572,22.865005,19.338270,32.575266,26.526188,37.814799,34.193713,53.598341,42.475780,7.725676,...,6.562177,23.803802,63.806231,29.092327,4.560409,24.549409,NaN,21.474437,37.039069,50.618792
1988-12-31,45.804115,16.587253,35.619998,49.307599,17.331885,45.136161,26.281389,44.313134,34.441939,3.144088,...,2.170524,12.622203,30.139471,20.407399,6.825305,22.235883,NaN,30.849753,50.278234,38.151881
1989-12-31,74.621587,43.219431,48.196474,45.743452,28.249969,71.575505,37.310055,56.414032,48.377100,16.458070,...,11.940895,33.432687,44.244839,43.990500,11.539264,40.041484,NaN,14.671873,58.014732,79.788033
1990-12-31,71.898033,38.226647,38.401283,56.509533,39.446080,68.281192,38.328730,44.481640,32.673709,6.599474,...,5.788435,10.894654,62.870458,46.989936,8.393794,43.801191,NaN,18.255607,53.695853,44.286084
1991-12-31,25.294932,25.991666,23.185579,44.420941,13.514659,29.162873,17.338453,49.304413,25.214169,5.843294,...,9.144434,11.154739,16.079421,26.314814,3.601822,17.532228,NaN,47.251213,46.469601,20.449081
1992-12-31,61.909528,14.874046,30.488477,50.416446,23.320765,78.197797,20.476857,39.544489,33.292858,10.789612,...,6.468357,9.882624,33.032144,37.202001,8.961285,37.867172,NaN,28.834954,104.274598,48.233387
1993-12-31,28.906614,8.813149,11.084605,15.573716,30.213018,41.561955,38.240643,21.572527,17.145100,16.444604,...,5.007455,20.315980,15.612156,10.700833,5.904624,9.039941,NaN,13.455346,57.539829,9.701849
1994-12-31,31.217080,11.106220,12.635092,18.425113,29.345183,52.547646,35.659048,16.903047,14.824580,7.006969,...,5.742657,21.518939,30.891778,14.756775,5.409575,14.105224,3.644333,9.935440,61.328103,12.275395
1995-12-31,38.947577,10.595231,10.045851,22.931544,23.944112,36.328197,26.636730,33.980767,24.313445,12.082292,...,2.078316,16.716073,19.110344,18.706582,3.634193,15.098956,8.305794,14.682931,43.603373,16.694073
1996-12-31,15.251533,2.660142,6.634671,12.910030,16.285371,35.958327,19.360063,23.647536,10.778435,10.196106,...,1.541043,10.915771,9.945434,4.778380,0.648788,3.825713,5.911683,25.494705,24.512729,4.264339
1997-12-31,19.836180,19.197953,12.065554,29.568236,28.536902,46.766466,32.800942,47.220565,23.959765,3.193711,...,2.166004,13.307368,33.491440,31.023093,0.277996,17.891126,11.724903,16.183309,54.310117,27.479925
1998-12-31,30.205430,10.757892,9.313574,20.462671,29.047930,56.193564,27.110942,39.661390,32.818067,17.492902,...,7.764618,17.067002,14.916330,11.259517,6.172752,11.013796,13.402054,41.916495,47.266684,7.594641
1999-12-31,38.981552,18.985937,9.009998,32.509683,21.265398,43.178203,23.943714,31.577926,26.460568,3.441050,...,2.612649,20.958550,24.148989,19.765863,3.883290,19.966362,20.137235,16.271932,49.224124,27.287639
2000-12-31,58.609106,22.850336,21.191817,32.093631,49.211846,111.770650,48.516408,34.981266,37.536304,13.760948,...,3.076517,31.953400,53.619431,26.626010,7.093209,28.206302,24.675530,27.875666,76.534325,46.765546
2001-12-31,27.144446,7.229374,7.647985,13.858866,14.212980,54.134761,13.651169,39.342078,21.932315,18.777664,...,5.851707,8.275684,17.273899,9.563733,5.920852,8.631466,2.700788,21.936768,51.822591,7.384290
2002-12-31,36.632545,11.010815,17.361447,23.852150,28.874833,52.728234,31.350151,43.385193,26.415389,4.083248,...,4.853763,14.226843,19.821411,11.221116,4.184425,9.614956,10.895260,33.049620,68.515128,6.645075
2003-12-31,45.821845,23.575362,17.717331,38.485713,23.828045,53.820831,19.837413,40.337167,39.741590,4.908423,...,13.616450,20.174093,19.111501,12.947141,9.546071,11.933887,9.308963,17.767094,54.958373,7.998332
2004-12-31,45.196373,12.344766,8.670737,30.660144,48.158380,124.631621,42.385821,36.529273,40.038347,3.557884,...,3.522060,18.116102,35.421865,15.457116,6.632078,12.469598,16.298163,23.868435,54.722108,7.557659
2005-12-31,61.388599,38.443862,27.710225,50.409886,27.946747,54.940237,28.590049,57.056642,50.304060,5.227290,...,8.887103,31.778959,41.560866,35.811523,17.460718,27.476837,22.488961,21.538229,47.745789,32.344938
2006-12-31,42.471666,12.957108,11.440041,24.891790,34.791151,68.305296,19.057353,41.242455,28.313384,3.110320,...,4.215384,14.946048,27.459733,14.474938,6.762936,10.684275,13.083761,33.147817,41.625080,7.697303
2007-12-31,79.527272,49.131368,37.483974,58.559724,31.461074,55.347163,35.487541,42.755503,42.540669,6.456513,...,2.995052,45.156994,51.055221,56.771891,9.228055,43.035379,32.680720,28.457523,44.625539,47.804213
2008-12-31,26.604619,8.493510,10.890338,18.907692,38.161112,69.627298,35.375642,36.397628,17.982559,15.887798,...,7.615358,12.477996,27.705614,15.197300,4.843235,12.455977,14.025724,8.606085,50.191661,12.374463
2009-12-31,52.787967,34.927046,11.538772,59.375480,30.901704,74.931995,34.759600,60.787318,47.833357,5.780331,...,4.136221,29.501595,54.481898,35.145573,6.512412,30.118991,24.738950,36.508749,70.621942,28.588568
2010-12-31,34.015675,11.659013,10.951398,18.636399,19.049469,28.940201,19.341567,25.945206,21.443977,13.380596,...,10.153561,13.834290,20.720541,12.641467,8.084631,12.204999,3.465423,16.591740,21.948168,10.079248
2011-12-31,50.079599,24.804848,18.989844,34.485122,43.678845,64.051383,39.724297,48.253845,43.553629,20.009360,...,15.148270,23.634904,58.291201,25.718869,10.551022,19.109749,31.240188,13.041605,76.603077,18.250604
2012-12-31,44.962849,35.702809,26.430157,43.744574,21.747334,44.934259,18.881621,30.000244,26.657990,8.413276,...,8.801914,15.198047,22.138936,33.826104,12.144421,38.676430,11.593029,15.193245,37.315032,40.656840
2013-12-31,44.010999,27.934126,28.468771,41.343456,19.214468,48.534121,17.462350,30.136726,19.513638,21.815700,...,13.653082,16.578147,27.888707,17.424491,14.443269,18.619098,4.573815,21.681708,25.137706,15.857524
2014-12-31,25.125934,6.344315,7.946214,18.256960,19.773051,40.446522,22.401249,24.953943,16.215392,7.053936,...,6.963834,14.026655,17.251832,10.919569,6.612102,10.084999,6.781729,17.724440,28.421652,10.271290
2015-12-31,44.061624,22.752447,21.957218,43.045459,19.038495,67.254589,16.837722,42.411358,34.225379,15.234123,...,11.771115,15.169486,25.045065,40.942456,10.680608,34.842494,4.390693,21.576194,83.372306,45.283751
2016-12-31,40.244579,20.942718,15.525843,33.205059,12.903349,74.421212,11.872977,33.921508,26.746150,6.803780,...,5.508008,9.103342,17.434458,26.264542,9.013512,21.978813,3.477489,49.511333,58.545281,21.763951
2017-12-31,31.758353,16.363271,19.091123,31.005064,19.604980,50.022528,21.153620,27.142731,21.008383,17.941186,...,16.068445,15.212134,20.608030,32.743226,7.474093,29.264175,8.046015,15.590353,52.750181,28.233476
2018-12-31,44.811679,12.780914,9.843598,29.809934,35.814466,80.585425,35.527852,28.987760,23.230867,4.391853,...,1.482537,16.730673,34.308917,21.167155,0.874299,17.681265,19.429510,8.855615,107.688474,20.619275
2019-12-31,39.335132,13.381227,14.019623,26.412664,29.173512,37.478946,30.822312,41.481205,32.677508,7.279003,...,6.074443,23.611002,29.975472,23.786954,6.497988,19.100756,16.776235,8.484850,36.124558,15.102058
2020-12-31,36.981736,25.460608,31.797860,30.496133,16.781257,31.995152,16.719367,42.207210,23.905756,14.911816,...,9.560217,8.917450,14.051102,17.111256,14.233848,24.412660,6.365401,18.229882,38.520593,21.836309
2021-12-31,26.565010,4.132110,3.187649,14.856538,13.294301,24.286354,13.896321,28.031368,19.744702,2.715904,...,3.357160,5.261715,10.634782,3.815170,9.098109,3.654261,3.474170,10.162926,37.689574,4.784558
2022-12-31,26.916462,6.538034,7.908288,14.456382,24.496898,55.841348,21.621400,25.396409,15.434459,17.898575,...,5.396652,10.904459,13.333110,7.926447,14.521058,9.825112,10.130281,63.434901,89.464535,6.319834
2023-12-31,30.380571,22.463335,28.768152,21.787411,15.754624,28.928203,12.959801,38.034884,17.913953,9.370791,...,NaN,6.378148,9.099792,17.193207,28.752328,24.402103,2.102964,NaN,66.715933,25.848753
2024-12-31,NaN,NaN,23.295352,61.360525,41.335338,129.045020,32.380457,39.157857,NaN,NaN,...,10.615689,NaN,45.662118,20.633689,NaN,20.245404,NaN,NaN,NaN,20.686806

In [9]:
#log transformation of AM7
AM7_log = np.log(AM7)          

AM7_log_df = pd.DataFrame

In [32]:
#Matching Vestlandet stations with their respective catchment characteristics from the parameterfile 

vf_params = vf_params.copy()
vf_params["stID"] = vf_params["stID"].astype(str).str.strip()


vestlandet_list = ["83.2.0","84.11.0","84.20.0","85.4.0","88.4.0","86.12.0","88.30.0",
    "97.1.0","98.4.0","101.1.0","109.21.0","82.4.0","87.10.0","81.1.0","62.18.0",
    "27.15.0","35.16.0","35.9.0","38.1.0","42.2.0","48.5.0","55.4.0","50.1.0",
    "62.14.0","62.15.0","80.4.0","62.5.0","73.21.0","76.5.0","78.8.0","62.10.0"
]



wanted = []
wanted += [(sid, "Vestlandet") for sid in vestlandet_list]

df_wanted = pd.DataFrame(wanted, columns=["stID", "region"])
df_wanted["stID"] = df_wanted["stID"].astype(str).str.strip()


matched = df_wanted.merge(vf_params, on="stID", how="left")



cols = ["region", "stID"] + [c for c in matched.columns if c not in ("region", "stID")]
matched = matched[cols]


matched.head()

,region,stID,UTM_S_X,UTM_S_Y,UTM_G_X,UTM_G_Y,area,gradient_1085,",gradient_river",height_minimum,...,qtt_aug,qtt_sep,qtt_oct,qtt_nov,qtt_dec,qtt_djf,qtt_mam,qtt_jja,qtt_son,qtt_ann
0,Vestlandet,83.2.0,13360.999595,6.833950e+06,35871.251070,6.835403e+06,508.130005,14.160000,19.340000,143.0,...,357.909119,337.587933,257.335716,163.860158,110.980254,233.564567,645.193773,1367.636373,758.783806,3005.178631
1,Vestlandet,84.11.0,9391.999553,6.857051e+06,21968.320060,6.861836e+06,233.740005,22.200001,26.200001,20.0,...,245.981358,295.949407,274.354957,213.322185,169.325404,376.263685,828.145191,967.031600,783.626549,2955.067026
2,Vestlandet,84.20.0,24362.999653,6.843550e+06,27871.778061,6.841493e+06,71.480003,62.880001,67.970001,131.0,...,208.864717,260.101639,233.756204,170.319604,127.501302,284.271571,712.072869,886.359164,664.177447,2546.880974
3,Vestlandet,85.4.0,-4935.000568,6.872190e+06,2678.951422,6.874635e+06,109.680000,47.459999,48.369999,6.0,...,403.121148,437.561369,394.838847,313.727344,266.600485,607.371282,993.366231,1360.006466,1146.127559,4106.871552
4,Vestlandet,88.4.0,74017.999835,6.885121e+06,79902.189716,6.876211e+06,234.880005,5.890000,69.779999,52.0,...,442.106067,280.686944,143.466303,68.002732,50.576273,128.985880,320.365971,1470.962550,492.155979,2412.470418

In [33]:
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor



#Catchment parameters for Vestlandet stations:

params = vf_params.copy()
params["stID"] = params["stID"].astype(str).str.strip()

params_vest = params[params["stID"].isin(vestlandet_list)].copy()
params_vest["region"] = "Vestlandet"

#Merging parameters with log AM7
df_vest = params_vest.merge(am7_vest_df, on="stID", how="inner")




# Dataframe for VIF + OLS
exclude = {"stID", "region", "log_AM7"}
num_cols = df_vest.select_dtypes(include=["number"]).columns
predictor_cols = [c for c in num_cols if c not in exclude]

# drop rows with missing predictors/targets 
df_ols = df_vest.dropna(subset=predictor_cols + ["log_AM7"]).copy()


#Checking the VIF for the predictors  

def compute_vif(df, predictors):
    X = sm.add_constant(df[predictors].astype(float))
    vals = []
    for i, var in enumerate(predictors, start=1):  
        vals.append((var, variance_inflation_factor(X.values, i)))
    return pd.DataFrame(vals, columns=["variable", "VIF"]).sort_values("VIF", ascending=False)

def vif_filter(df, predictors, thresh=10.0):
    vars_left = predictors.copy()
    while True:
        vif_df = compute_vif(df, vars_left)
        max_vif = vif_df["VIF"].max()
        worst_var = vif_df.loc[vif_df["VIF"].idxmax(), "variable"]
        print(f"Max VIF = {max_vif:.2f} ({worst_var})")
        if max_vif > thresh:
            print(f"  -> dropping {worst_var}")
            vars_left.remove(worst_var)
        else:
            print("All VIFs below threshold.")
            break
    final_vif = compute_vif(df, vars_left)
    return vars_left, final_vif


predictors_vif, vif_table = vif_filter(df_ols, predictor_cols, thresh=10.0)

print("\nPredictors after VIF filtering:", predictors_vif)
print("\nFinal VIF table:")
print(vif_table)

#Running the OLS regression model with VIF filtered predictors 
X_final = sm.add_constant(df_ols[predictors_vif].astype(float))
y_final = df_ols["log_AM7"]

ols_vest = sm.OLS(y_final, X_final).fit()
print("\nOLS summary for Vestlandet:")
print(ols_vest.summary())

# coefficients + VIF together
#coef_df = pd.DataFrame({
    #"coef": ols_vest.params,
    #"std_err": ols_vest.bse,
    #"t": ols_vest.tvalues,
    #"p": ols_vest.pvalues,
#}).join(vif_table.set_index("variable"), how="left")

#print("\nCoefficients with VIF (Vestlandet):")
#print(coef_df)

/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

Max VIF = inf (UTM_S_X)
  -> dropping UTM_S_X
Max VIF = inf (UTM_S_Y)
  -> dropping UTM_S_Y

/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

Max VIF = inf (UTM_G_X)
  -> dropping UTM_G_X
Max VIF = inf (UTM_G_Y)
  -> dropping UTM_G_Y
Max VIF = inf (area)
  -> dropping area

/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

Max VIF = inf (gradient_1085)
  -> dropping gradient_1085
Max VIF = inf (,gradient_river)
  -> dropping ,gradient_river
Max VIF = inf (height_minimum)
  -> dropping height_minimum

/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

Max VIF = inf (height_hypso_10)
  -> dropping height_hypso_10
Max VIF = inf (height_hypso_20)
  -> dropping height_hypso_20
Max VIF = inf (height_hypso_30)
  -> dropping height_hypso_30

/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

Max VIF = inf (height_hypso_40)
  -> dropping height_hypso_40
Max VIF = inf (height_hypso_50)
  -> dropping height_hypso_50
Max VIF = inf (height_hypso_60)
  -> dropping height_hypso_60

/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

Max VIF = inf (height_hypso_70)
  -> dropping height_hypso_70
Max VIF = inf (height_hypso_80)
  -> dropping height_hypso_80
Max VIF = inf (height_hypso_90)
  -> dropping height_hypso_90

/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

Max VIF = inf (height_maximum)
  -> dropping height_maximum
Max VIF = inf (length_km_river)
  -> dropping length_km_river
Max VIF = inf (perc_agricul)
  -> dropping perc_agricul

/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

Max VIF = inf (perc_bog)
  -> dropping perc_bog
Max VIF = inf (perc_eff_lake)
  -> dropping perc_eff_lake
Max VIF = inf (perc_forest)
  -> dropping perc_forest

/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

Max VIF = inf (perc_glacier)
  -> dropping perc_glacier
Max VIF = inf (perc_lake)
  -> dropping perc_lake
Max VIF = inf (perc_urban)
  -> dropping perc_urban
Max VIF = inf (area_unclassified_perc)
  -> dropping area_unclassified_perc

/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

Max VIF = inf (perimeter_m)
  -> dropping perimeter_m
Max VIF = inf (total_river_length_km)
  -> dropping total_river_length_km
Max VIF = inf (total_river_length_without_lake)
  -> dropping total_river_length_without_lake
Max VIF = inf (drainage_density)
  -> dropping drainage_density

/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

Max VIF = inf (drainage_density_without_lake)
  -> dropping drainage_density_without_lake
Max VIF = inf (areaperperimeter_km)
  -> dropping areaperperimeter_km
Max VIF = inf (infp)
  -> dropping infp
Max VIF = inf (t_jan)
  -> dropping t_jan

/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

Max VIF = inf (t_feb)
  -> dropping t_feb
Max VIF = inf (t_mar)
  -> dropping t_mar
Max VIF = inf (t_apr)
  -> dropping t_apr
Max VIF = inf (t_may)
  -> dropping t_may

/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

Max VIF = inf (t_jun)
  -> dropping t_jun
Max VIF = inf (t_jul)
  -> dropping t_jul
Max VIF = inf (t_aug)
  -> dropping t_aug
Max VIF = inf (t_sep)
  -> dropping t_sep
Max VIF = inf (t_oct)
  -> dropping t_oct

/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

Max VIF = inf (t_nov)
  -> dropping t_nov
Max VIF = inf (t_dec)
  -> dropping t_dec
Max VIF = inf (t_djf)
  -> dropping t_djf
Max VIF = inf (t_mam)
  -> dropping t_mam
Max VIF = inf (t_jja)
  -> dropping t_jja

/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

Max VIF = inf (t_son)
  -> dropping t_son
Max VIF = inf (t_ann)
  -> dropping t_ann
Max VIF = inf (p_jan)
  -> dropping p_jan
Max VIF = inf (p_feb)
  -> dropping p_feb
Max VIF = inf (p_mar)
  -> dropping p_mar
Max VIF = inf (p_apr)
  -> dropping p_apr

/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

Max VIF = inf (p_may)
  -> dropping p_may
Max VIF = inf (p_jun)
  -> dropping p_jun
Max VIF = inf (p_jul)
  -> dropping p_jul
Max VIF = inf (p_aug)
  -> dropping p_aug
Max VIF = inf (p_sep)
  -> dropping p_sep
Max VIF = inf (p_oct)
  -> dropping p_oct
Max VIF = inf (p_nov)
  -> dropping p_nov

/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

Max VIF = inf (p_dec)
  -> dropping p_dec
Max VIF = inf (q_jja)
  -> dropping q_jja
Max VIF = inf (p_djf)
  -> dropping p_djf
Max VIF = inf (q_son)
  -> dropping q_son
Max VIF = inf (p_mam)
  -> dropping p_mam
Max VIF = inf (qtt_djf)
  -> dropping qtt_djf
Max VIF = inf (q_ann)
  -> dropping q_ann
Max VIF = inf (qtt_mar)
  -> dropping qtt_mar

/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
/srv/conda/envs/notebook/lib/python3.10/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

Max VIF = inf (qtt_jun)
  -> dropping qtt_jun
Max VIF = inf (qtt_nov)
  -> dropping qtt_nov
Max VIF = 562949953421312.00 (q_mam)
  -> dropping q_mam
Max VIF = 290554814669064.25 (q_djf)
  -> dropping q_djf
Max VIF = 96851604889688.09 (qtt_ann)
  -> dropping qtt_ann
Max VIF = 167462.77 (qtt_mam)
  -> dropping qtt_mam
Max VIF = 22476.09 (qtt_son)
  -> dropping qtt_son
Max VIF = 5680.60 (qtt_jul)
  -> dropping qtt_jul
Max VIF = 4588.14 (q_jan)
  -> dropping q_jan
Max VIF = 1393.11 (q_dec)
  -> dropping q_dec
Max VIF = 1212.97 (qtt_jan)
  -> dropping qtt_jan
Max VIF = 1061.54 (p_ann)
  -> dropping p_ann
Max VIF = 963.51 (q_apr)
  -> dropping q_apr
Max VIF = 624.78 (q_oct)
  -> dropping q_oct
Max VIF = 590.40 (qtt_feb)
  -> dropping qtt_feb
Max VIF = 289.89 (q_nov)
  -> dropping q_nov
Max VIF = 200.45 (q_feb)
  -> dropping q_feb
Max VIF = 126.97 (qtt_jja)
  -> dropping qtt_jja
Max VIF = 104.99 (qtt_sep)
  -> dropping qtt_sep
Max VIF = 67.76 (q_mar)
  -> dropping q_mar
Max VIF = 60.38 (q_mai)
  -> dropping q_mai
Max VIF = 54.14 (qtt_oct)
  -> dropping qtt_oct
Max VIF = 37.32 (qtt_apr)
  -> dropping qtt_apr
Max VIF = 25.58 (q_sep)
  -> dropping q_sep
Max VIF = 21.18 (p_jja)
  -> dropping p_jja
Max VIF = 18.76 (q_jul)
  -> dropping q_jul
Max VIF = 12.23 (qtt_aug)
  -> dropping qtt_aug
Max VIF = 5.83 (p_son)
All VIFs below threshold.

Predictors after VIF filtering: ['p_son', 'q_jun', 'q_aug', 'qtt_may', 'qtt_dec']

Final VIF table:
  variable       VIF
0    p_son  5.826449
4  qtt_dec  5.465031
3  qtt_may  2.877163
1    q_jun  2.608820
2    q_aug  2.572244

OLS summary for Vestlandet:
                            OLS Regression Results
==============================================================================
Dep. Variable:                log_AM7   R-squared:                       0.616
Model:                            OLS   Adj. R-squared:                  0.540
Method:                 Least Squares   F-statistic:                     8.031
Date:                Wed, 19 Nov 2025   Prob (F-statistic):           0.000125
Time:                        10:10:58   Log-Likelihood:                -11.874
No. Observations:                  31   AIC:                             35.75
Df Residuals:                      25   BIC:                             44.35
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          1.7856      0.329      5.431      0.000       1.109       2.463
p_son         -0.0003      0.001     -0.470      0.642      -0.002       0.001
q_jun          0.0022      0.001      3.454      0.002       0.001       0.004
q_aug          0.0012      0.001      1.982      0.059   -4.73e-05       0.002
qtt_may        0.0005      0.001      0.474      0.640      -0.002       0.002
qtt_dec        0.0004      0.002      0.198      0.844      -0.003       0.004
==============================================================================
Omnibus:                        1.922   Durbin-Watson:                   1.667
Prob(Omnibus):                  0.382   Jarque-Bera (JB):                1.267
Skew:                          -0.217   Prob(JB):                        0.531
Kurtosis:                       2.110   Cond. No.                     5.18e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.18e+03. This might indicate that there are
strong multicollinearity or other numerical problems.